<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Simple Sidebar - Start Bootstrap Template</title>
    <!-- Favicon-->
    <th:block th:replace="fragments/_admin_css::css"></th:block>
</head>

<style>
    .card {
        background-color: #F7F7F7;
        background-image: none;
        border-color: #f7f7f7!important;
        box-shadow: 0 2px 6px rgb(58 57 68 / 18%);
    }
</style>

<body>
    <div class="d-flex" id="wrapper">
        <!-- Sidebar-->
        <th:block th:replace="fragments/_admin_slidebar::admin_slidebar"></th:block>
        <!-- Page content wrapper-->
        <div id="page-content-wrapper">
            <!-- Top navigation-->
            <th:block th:replace="fragments/_admin_navbar::admin_navbar"></th:block>
            <!-- Page content-->
            <div class="container">
                <div class="text m-3">
                    <h2 class="text-center text-secondary mt-3">Liste des différents Publications</h2>
                </div>

                <div class="col-md-4 m-auto mt-3">
                    <div class="input-group m-auto">
                        <div class="form-outline">
                            <input type="search" id="form1" class="form-control" placeholder="Réchercher..." />

                        </div>
                        <button type="button" class="btn btn-secondary">
                          <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-10 text-center m-auto mt-4">
                        <table class="table">

                            <tbody>
                                <tr class="text-bold bg-light">
                                    <th scope="row">ID</th>
                                    <td>NOM</td>
                                    <td>TITRE</td>
                                    <td>DESCRIPTION</td>
                                    <td>Date</td>
                                    <td>Categories</td>
                                    <td>Photos</td>
                                    <td>Actions</td>
                                </tr>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                    <td>
                                        <a href="modifier.html" class="btn btn-primary btn-circle btn-sm">
                                            <i class="fas fa-pen"></i>
                                        </a>
                                        <a href="#" class="btn btn-success btn-circle btn-sm">
                                            <i class="fas fa-check"></i>
                                        </a>
                                        <a href="#" class="btn btn-danger btn-circle btn-sm">
                                            <i class="fas fa-trash"></i>
                                        </a>

                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>@fat</td>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                    <td>
                                        <a href="modifier.html" class="btn btn-primary btn-circle btn-sm">
                                            <i class="fas fa-pen"></i>
                                        </a>
                                        <a href="#" class="btn btn-success btn-circle btn-sm">
                                            <i class="fas fa-check"></i>
                                        </a>
                                        <a href="#" class="btn btn-danger btn-circle btn-sm">
                                            <i class="fas fa-trash"></i>
                                        </a>

                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                    <td>
                                        <a href="modifier.html" class="btn btn-primary btn-circle btn-sm">
                                            <i class="fas fa-pen"></i>
                                        </a>
                                        <a href="#" class="btn btn-success btn-circle btn-sm">
                                            <i class="fas fa-check"></i>
                                        </a>
                                        <a href="#" class="btn btn-danger btn-circle btn-sm">
                                            <i class="fas fa-trash"></i>
                                        </a>

                                    </td>
                                </tr>
                            </tbody>
                        </table>


                    </div>
                </div>
            </div>
            <!-- Bootstrap core JS-->
            <th:block th:replace="fragments/_admin_js::js"></th:block>
</body>

</html>